

<div class="grid grid-cols-2 content-center place-items-center">
    <div class="col-span flex flex-col justify-center items-center customme-height px-20">
        <div class="row-span-1 min-h-28 h-28">
            <h2 class="text-5xl font-bold">
                Enter the new era with us
            </h2>
        </div>
        <div class="row-span-1">
            <p class="font-light">
                Apple is a globally recognized technology company that has revolutionized the industry with
                 its innovative products and cutting-edge designs. Headquartered in Cupertino, California, 
                 Apple is known for its focus on simplicity, elegance, and functionality in its devices and 
                 services.
            </p>
        </div>
        <div class="row-span-1 w-full mt-4">
            <div class="flex justify-start items-start">
                <div class="mr-3">
                    <button class="h-12 w-28 bg-blue-500 rounded-md text-white text-lg hover:bg-blue-700">Products</button>
                </div>
                <div class="ml-3">
                    <button class="h-12 w-28 text-gray-400 border border-gray-400 rounded-md text-lg hover:bg-gray-400 hover:text-white">Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span">
        <div class="flex items-center">
            <img class="height-img" src="../../../../assets/img/fondo-iphone-14.jpeg" alt="iphone img">
        </div>
    </div>
</div>