

<div class="grid grid-cols-1 md:grid-cols-2 content-center place-items-center">
    <div class="col-span flex flex-col justify-start sm:justify-center sm:items-center customme-height pt-11 px-14 sm:px-20">
        <div class="row-span-1 min-h-28 h-28 flex justify-center items-center">
            <h2 class="text-4xl sm:text-5xl font-bold">
                Enter the new era with us
            </h2>
        </div>
        <div class="row-span-1 my-1">
            <p class="font-light">
                Apple is a globally recognized technology company that has revolutionized the industry with
                 its innovative products and cutting-edge designs. Headquartered in Cupertino, California, 
                 Apple is known for its focus on simplicity, elegance, and functionality in its devices and 
                 services.
            </p>
        </div>
        <div class="row-span-1 w-full mt-5 sm:mt-4">
            <div class="flex justify-start items-start">
                <div class="">
                    <button class="h-10 sm:h-12 w-28 text-gray-400 border border-gray-400 rounded-md text-base sm:text-lg hover:bg-gray-400 hover:text-white">Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span">
        <div class="flex sm:hidden items-center">
            <img class="height-img" src="../../../../assets/img/fondo-iphone-14.jpeg" alt="iphone img">
        </div>
        <div class="hidden sm:flex items-center">
            <img class="height-mac" src="../../../../assets/img/card-iphone.png" alt="iphone img">
        </div>
    </div>
</div>