
<div class="grid grid-cols-8 sm:grid-cols-5 h-full fixed w-full z-50 top-0 left-0">
    <div (click)="closeModal()" class="col-span-3 z-20 bg-black/50 h-full w-full">
    </div>
    <div class="col-span-5 sm:col-span-2 h-full bg-white overflow-y-scroll">
        <div class="grid grid-rows-12 mx-4">
            <div class="row-span-1 h-20 flex justify-center items-center">
                <h2 class="text-lg font-bold">Your bag</h2>
            </div>
            <div *ngIf="products.length > 0" class="row-span-1 grid grid-cols-2 h-14 w-full my-5">
                <div class="flex flex-col justify-center items-center">
                    <h4 class="text-sm sm:text-lg font-semibold">Total price</h4>
                    <span class="text-sm sm:text-lg">{{subtotal | currency}}</span>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h4 class="text-sm sm:text-lg font-semibold">Quantity</h4>
                    <span class="text-sm sm:text-lg">{{currentQuantity}}</span>
                </div>
            </div>
            <ng-container *ngIf="products.length > 0; else gotoshop">
                <app-card-product *ngFor="let product of products" [product]="product" class="row-span-1 flex flex-col justify-start"></app-card-product>
            </ng-container>
            <ng-template #gotoshop>
                <div class="row-span-1 flex-col justify-center items-center mb-3">
                    <div class="flex justify-center items-center text-5xl mb-5">
                        <i class='bx bx-shopping-bag'></i>
                    </div>
                    <div class="flex flex-col justify-center items-center mb-3">
                        <p class="text-2xl font-semibold">
                            YOUR BAG IS EMPTY
                        </p>
                        <span class="text-sm font-bold text-gray-400 mt-2">
                            There are no products in your bag
                        </span>
                    </div>
                    <div class="flex justify-center items-center">
                        <button (click)="goToShop()"
                        class="h-12 w-52 text-gray-400 border border-gray-400 rounded-md text-md hover:bg-gray-400 hover:text-white">
                            Shop products
                        </button>
                    </div>
                </div>
            </ng-template>
            <div class="h-28 sm:h-32 w-2/3 sm:w-2/5">
                <div *ngIf="products.length > 0" class="flex flex-col items-end fixed h-28 sm:h-32 right-0 bottom-0 w-2/3 sm:w-2/5">
                    <div class="flex flex-col justify-center items-center w-full h-32 bg-white pl-10 pr-6 sm:px-6">
                        <a 
                        class="h-10 w-full font-bold text-center flex justify-center items-center text-base
                         bg-blue-500 rounded-md text-white hover:bg-blue-700 cursor-pointer"
                        href="https://api.whatsapp.com/send?phone=584124807708"
                        target="_blank"
                         
                        >CHECKOUT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>