

<article class="flex flex-col justify-center items-center h-96 w-64 border border-slate-100 shadow my-3 pb-3">
    <div class="h-30 w-20">
        <img class="h-30 w-20 mt-3" [src]="productInput.img" [alt]="productInput.identifier">
    </div>
    <div class="my-4">
        <h3 class="font-semibold text-xl px-5 text-center">
            {{productInput.name}}
        </h3>
    </div>
    <div class="mb-6 mx-4 text-base font-light">
        <p>{{productInput.description}}</p>
    </div>
    <div class="grid grid-cols-3 px-3 w-full mb-3">
        <div class="col-span-1 flex justify-start items-center">
            <span class="text-lg font-semibold pl-1.5">{{productInput.price | currency}}</span>
        </div>
        <div class="col-span-2 ml-4">
            <button class="h-9 w-16 text-gray-400 border border-gray-400 rounded-md text-sm hover:bg-gray-400 hover:text-white mr-2">Details</button>
            <button (click)="ES.addCart(productInput)" class="h-9 w-16 bg-blue-500 rounded-md text-white text-sm hover:bg-blue-700">Add</button>
        </div>
    </div>
</article>
